[submodule "dotfiles/tmux/tpm"]
	path = dotfiles/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotfiles/zsh/external/zimfw"]
	path = dotfiles/zsh/external/zimfw
	url = https://github.com/zimfw/zimfw
[submodule "dotfiles/zsh/external/fzf-marks"]
	path = dotfiles/zsh/external/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks
