
# Python byte compiled/optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Ignore vim's history file used for cross-network edits
dotfiles/nvim/.netrwhist

# Vim plugins directory
dotfiles/nvim/plugged

# plug.vim is symlinked into this location during vim_plug installation. We
# don't want to track it.
/dotfiles/nvim/autoload/plug.vim

# Vim persistent undo directory
dotfiles/nvim/.undo
