
# Python byte compiled/optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Build directory
/build

# Ignore vim's history file used for cross-network edits
/dotfiles/nvim/.netrwhist

# Vim persistent undo directory
/dotfiles/nvim/.undo

# Dedicated venv directory for neovim
/dotfiles/nvim/venvs

# Temporary while we have just neovim specific global lua config
.luarc.json
