[submodule "dotfiles/nvim/vim_plug"]
	path = dotfiles/nvim/vim_plug
	url = https://github.com/junegunn/vim-plug
[submodule "dotfiles/zsh/zplug"]
	path = dotfiles/zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "dotfiles/tmux/tpm"]
	path = dotfiles/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
